@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #0062a3;
    color: #2043dd;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #e9edf0;
}
/*todos los textos principales*/
.heading {
    font-size: 4rem;
    color: #167ec4;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}
/*texto de la ubiccion*/
.ubicacion {
    background-color: #116ca8c4;
    width: 400px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #727c83;
    border-radius: 30px;
    font-size: 4rem;
    color: #d0d4d6;
    text-align: center;
    text-size-adjust: 8px;
    letter-spacing: .6rem;
    font-weight: 400;
box-shadow: 0 30px 0 20px #379ce060;
}


/* estilo de prestamos */
.product .title {
    font-size: 4rem;
    color: #248ace;
    text-align: justify;
    padding: 6rem 2rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}
.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #263fad;
}
/*para los subtitulo que estan en producto */
.subtitle {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: justify;
    font-weight: 400;
    color: #000000;
}

header {
    width: 100%;
    background: #f6f8ff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #2b46bd;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #44a2e0f6;
}
.logo{
    height: 75px;
   
}


header .fa-bars {
    font-size: 3rem;
    color: #2581cc;
    cursor: pointer;
    display: none;
    transition: .2s;
}
/* logo de presentacion e imagen*/
.home {
    min-height: 55vh;
    background: linear-gradient(rgba(8, 203, 233, 0.103), rgb(243, 244, 250)), url(logo.jpeg) no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-flow: column;
    padding-top: 40rem;
    
}
.home h1{
    text-align: right ;
}

.home .content h1 {
    font-size: 5em;
 
    color: #fff;
    text-shadow: 0 0 5px #d7e0e0,
    0 0 15px #065c61, 
    0 0 25px #09585c,
    0 0 80px #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 2s;
    
}

.home .content p {
    font-size: 1rem;
    color: #eee;
    padding: 3rem 25rem;   
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #258ace;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .5rem 1rem rgba(12, 127, 235, 0.507);
    margin: 5rem 0;
    border-color: #258ace;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #258ace;
}

.product {
    text-align: center;
    margin: 10px 0;
}

.product .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
/*boton de mision vision y valores */
.product .box-container .box {
    height: 37rem;
    width: 30rem;
    background: #0c8dc98c;
    text-align: center;
    border-radius: 5rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 4rem;
    cursor: pointer;
}


.product .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 60%;
    color: #fff;
    background: #51baf7f3 ;
    font-size: 4rem;
    margin: 2rem 0;
    transition: .2s;
}
*/* titulo mision vision y valores*/
.product .box-container .box h3 {
    font-size: 2.5rem;
    color: #004799;
    transition: .2s;
}
/* letras de mision vision y valores texto*/
.product .box-container .box p {
    font-size: 1.5rem;
    padding: .8rem 2rem;
    color: #ffffff;
}

.product .box-container .box:hover i {
    background: #258ace;
}

.product .box-container .box:hover h3 {
    color: #26967a;
}

.product button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #258ace;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 60px;
}

.product button:hover {
    background: none;
    border: .2rem solid #4ca6e2;
}

.about {
    background: #d0d4d8;
}
.about {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;

}


.about .title {
    margin-bottom: 3rem;
}

.about .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.about .row .img  {
    
    height: 30vh;
    width: 40vw;
    margin-left: 50px;

}


.about .row .content {
    padding-right: 5em ;
    margin: 5rem 0;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #258ace;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #020303;
    padding: 1rem 0;
}


.about .row .content button {
    height: 5rem;
    width: 17rem;
    background: #258ace;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-top: 2rem;
}

.about .row .content button:hover {
    background: none;
    border: .2rem solid #258ace;
}

.course .box-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;
}

.course .box-container .box {
    background: #171717;
    height: 25rem;
    width: 25rem;
    margin: 3.5rem 2rem;
    text-align: center;
    border-radius: 1rem;
}

.course .box-container .box i {
    height: 10rem;
    width: 10rem;
    line-height: 8rem;
    text-align: center;
    color: #258ace;
    background: none;
    margin-top: 2rem;
    font-size: 5rem;
}

.course .box-container .box h3 {
    font-size: 2rem;
    color: #72c6d4;
}

.course .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}

.review {
    background: #171717;
}

.review .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.review .box-container .box {
    width: 20rem;
    padding-bottom: 2rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(120, 216, 245, 0.767);
    background: #000000b4;
    margin: 6rem 2rem;
}

.review .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #258ace;
    border-left: .6rem solid #3a75e4;
    border-bottom: .6rem solid #b1e43a;
}

.review .box-container .box h3 {
    font-size: 2rem;
    color: #258ace;
    padding: 0 .5rem;
}

.review .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    padding: 1.3rem .1rem;
}

.review .box-container .box .stars i {
    font-size: 1.6rem;
    color: #258ace;
    padding: 1.3rem .1rem;
}
.contact .pie {
    min-height: 55vh;
    background: linear-gradient(rgba(8, 203, 233, 0.103), rgb(243, 244, 250)), url(pie.jpg) no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
/* boton del pie de pagina*/
.contact .content a {
    font-size: 1rem;
    color: #eee;
    padding: 3rem 25rem;   
}

.contact .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #258ace;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .5rem 1rem rgba(12, 127, 235, 0.507);
    margin: 5rem 0;
    border-color: #258ace;
}
/* ultima parte del pie*/
.contact {
    background: #6090b1;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    text-align: center;
}
/* texto de solicitud*/
.texto {
text-transform: capitalize;
color: #0042f7;
text-align: left;
font-size: 2.5em;
}
/*row de solicitud*/
 .row {
    background: #c7d1e4; 
 }
.solicitud {

    font-size: 4rem;
    background: #c7d1e4; 
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
    color: #0042f7;
    

}

.select {
display: flex;
flex-direction: column;
justify-content: left;
user-select: auto;
font-size: 1.8em;
background: #c7d1e4;
width: 3.5cm;
height: 1.0cm;
border-radius: 10%;
box-shadow: 0 .5rem 1rem rgba(12, 127, 235, 0.507);
color: #0f659e;
}

.contact .row .form-container {
    width: 40%;
    padding-right: 6rem;
}

.contact .row .form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: #fff;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: #3575a0;
    font-size: 1.7rem;
    transition: .2s linear;
}

.contact .row .form-container input:focus, textarea:focus {
    border: .4rem solid #11bae4;
}

.contact .row .form-container textarea {
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container input[type="submit"] {
    height: 5rem;
    width: 17rem;
    background: #277cb4;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}
.contact .row .form-container input[type="submit"]:hover {
    background: none;
    color: #f0e0d8;
    border: .2rem solid #b5c5df;
}


.footer {
    text-align: center;
}

.footer .icons {
    padding: 3rem 0;
}

.footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #3ae4e4;
    border: .2rem solid #b1e43a;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;

}

.footer .icons a:hover {
    color: #ffffff;
    background: #2b89c7;
    border-color: #258ace;
}


@media (max-width: 768px) {
    
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }
/* menu desplasable adaptado para celular*/
    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: #b8cfe4e7;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top:5.5rem;
        opacity: 1;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .about .row {
        flex-direction: column-reverse;
    }

    .about .row .image img {
        height: 30vh;
        width: 90vw;
    }

    .about .row .content {
        padding: 0 2.5rem;
    }

    .course .box-container {
        width: 100%;
    }

    .contact .row {
        flex-flow: column;
    }

    .contact .row .form-container {
        width: 90%;
        padding: 0;
    }

  

}




