@import "tailwindcss";

@theme {
  --color-prime: #012139;
  --color-brand: #00aeef;
  --color-accent: #c1a22a;
  --color-red-bh: #ee3124;
}

@layer base {
  body {
    @apply font-sans antialiased bg-gray-50 text-prime;
  }
}
