@import "tailwindcss";

@theme {
  --color-prime: #012139;
  --color-brand: #00aeef;
  --color-accent: #c1a22a;
  --color-red-bh: #ee3124;
}

@layer base {
  body {
    @apply font-sans antialiased bg-gray-50 text-prime;
  }
}

/* --- Mejoras de Banner --- */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.bg-stripes {
  background-image: linear-gradient(
    45deg, 
    rgba(255, 255, 255, 0.05) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, 0.05) 50%, 
    rgba(255, 255, 255, 0.05) 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 50px 50px;
}

@keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.animate-shimmer {
    animation: shimmer 3s infinite linear;
}
